<footer>
    <div class="social-links">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="brand">
       <b> &#169;  Wunderlust Pvt. Ltd. </b>
    </div>
    <div class="info-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Condition</a>
    </div>
</footer>