<% layout('layouts/boilerplate') -%>

    <body>
        <div class="row">
            <form method="POST" action="/login" class="needs-validation" novalidate>
                <div class="col-6 offset-3">
                    <h3 class="mb-3">Login on Wunderlust</h3>

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter Username" required>
                        <div class="valid-feedback">
                            username Looks valid!
                        </div>
                        <div class="invalid-feedback">
                            Please enter valid username.
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                        <div class="valid-feedback">
                            Password Looks valid!
                        </div>
                        <div class="invalid-feedback">
                            Please enter valid Password.
                        </div>
                    </div>

                    <button class="btn btn-success mb-3">Submit</button>

                </div>
            </form>
        </div>
    </body>